.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    margin: 5vw;
}

.nom, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Cinzel', serif;
}

input[type=submit]{
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    transition: background-color 0.5s;
}

input[type=submit]:hover{
    background-color: #F088B4;
}

.form{
    padding: 20px;
}